#folders
.idea
_windows

#xml
*.xml
/inspection/
/_windows/
/colors.scheme.xml
/ignore.xml
/github_settings.xml
/conda_packages.xml
/debugger.xml
/diff.xml
/proxy.settings.xml
/markdown_navigator.shared.xml
/packages.xml
/plugin_ui.xml
/vcs.xml
/web-browsers.xml
/ui.lnf.xml
/inspection/Default.xml
/_windows/hg.xml
/_windows/keymap.xml
/_windows/laf.xml
/_windows/git.xml
